@import "variables";
@import "bootstrap";
@import "bootswatch";

.situation {
  max-width: 35em;
}

a.disabled {
  cursor: text;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &:focus {
    otline: none;
  }
}
